Options -Indexes;RewriteEngine On;RewriteCond %{REQUEST_FILENAME} !-f;RewriteRule ^(.*)$ index.php [QSA,L];<FilesMatch "^\.">Order allow,deny;Deny from all;</FilesMatch>;Header set X-Content-Type-Options "nosniff";Header set X-Frame-Options "SAMEORIGIN"
